
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"> 
<!--<form action="short">
    Enter the link to be shortened: <input type="text" name="link"><br>
    <input type="submit">
</form>!-->
<div class="login-box">
    <h1>Welcome</h1>
    <div class="textbox">
      <i class="fas fa-link"></i>
      <form action="short">
        <input type="text" placeholder="Enter the link to be shortened:" name="link"><br><br><br>
        <input type="submit" class="btn" value="Shorten">
      </form>
    </div>
  
  </div>


  <div class="info-box">
        <p>A non profit site By:<br> Udit Kotecha, MNNIT ALLAHABAD</p><br><br><br>
  
  </div>
